activity
# cardio_fitness
# electrocardiogram
# heartrate
# irregular_rhythm_notifications
# location
# nutrition
# oxygen_saturation
# profile
# respiratory_rate
# settings
# sleep
# social
# temperature
# weight